/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-rows:repeat(5,124px);
	grid-template-columns: repeat(4,242.5px);
	color:white;
	font-size:25px;
	gap:5px;
	
}
.box{
	background-color:green;
	
}
.one{
	grid-column:span 4;
}
.two{
 grid-row:span 4;
}
.four{
	grid-column:span 2;
}
.five{
	grid-column:span 2;
}
.seven{
	grid-area:auto;
}
.ten{
	grid-column:span 3;
	grid-row:auto;
}
