/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-rows:repeat(5,1fr);
	grid-template-columns: repeat(4,1fr);
	color:white;
	font-size:25px;
	gap:5px;
	
}
.box{
	background-color:green;
	
}
.one{
	grid-column:1/5;
}
.two{
 grid-row:2/6;
}
.four{
	grid-column:3/5;
}
.five{
	grid-column:2/4;
}
.ten{
	grid-column:2/5;
	grid-row:5/6;
}
